@font-face {
  font-family: 'Figgins';
  src: url('../assets/fonts/Figgins.otf');
}

@font-face {
  font-family: 'Figgins Italic';
  src: url('../assets/fonts/Figgins_Italic.otf');
}

@font-face {
  font-family: 'Figgins Bold';
  src: url('../assets/fonts/Figgins_Bold.otf');
}

@font-face {
  font-family: 'Figgins ExtraBold';
  src: url('../assets/fonts/Figgins_ExtraBold.otf');
}
